*{
    padding: 0;
    margin: 0;
}
#all{
margin-left: auto;
margin-right: auto;
width: 1100px;
height: max-content;

}
#naslov{

margin-top: 40px;
margin-left: 410px;
font-size: 28px;
letter-spacing: 1.4px;
word-spacing: 0.2px;
color: #000000;
font-weight: 50;
font-style: normal;
font-variant: normal;
text-transform: none;

}

nav a{
    font-style: oblique;
    margin-left: 130px;
    text-align: center;
    color:rgb(7, 39, 8);
    text-shadow: 4px 4px 7px rgb(54, 45, 33);
    font-size: 29px;
    text-decoration: none;
    display: inline block;
  
    
}
a:hover{
    color:black;
}
#onama{
    font-size: 22px;
    color: rgb(247, 223, 193, .8);
    background-color: rgb(7, 39, 8, .8);
    text-align: center;
}
#kontakt{
    color: rgb(247, 223, 193, .8);
     background-color: rgb(7, 39, 8, .8); 
     text-align: center;
}
body{
    background-image: url(https://i.pinimg.com/236x/86/9e/13/869e136b6986a27e869ab181b79b98ae.jpg);
    background-attachment: fixed;
    background-position: center;

    
}
.column {
    float: right;
    width: 30%;
    padding: 2px;
    text-align: center;
    margin-right: 28px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  #torba2{
    border-color:rgb(7, 39, 8, .8) ;
    border-style: dotted;
   
  }
#slika1{
    box-shadow: 10px 10px rgb(7, 39, 8, .8) ;
}
#proizvodi{
    margin-left: 490px;
    color:rgb(7, 39, 8);
    text-shadow: 4px 4px 7px rgb(54, 45, 33);
    font-size: 29px;
    font-style: oblique;
}
.slide-container{
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
}
.image-container{
    width: 4000px;
    height: 600px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
}
.slider-image{
    float: left;
    margin: 0px;
    padding: 0px;
}
.button-container{
    top: -20px;
    position: relative;
}
.slider-button{
    display: inline-block;
    width: 20px;
    height: 10px;
    border-radius: 10px;
    background-color: white;
    color: tomato;
    
}
#slider-image-1:target ~ .image-container{
    left: 0px;
}
#slider-image-2:target ~ .image-container{
    left: -800px;
}
#slider-image-3:target ~ .image-container{
    left: -1600px;
}
#slider-image-4:target ~ .image-container{
    left: -2400px;
}
#slider-image-5:target ~ .image-container{
    left: -3200px;
}